<%= form_with(model: ytq_param, local: true) do |form| %>
  <% if ytq_param.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ytq_param.errors.count, "error") %> prohibited this ytq_param from being saved:</h2>

      <ul>
      <% ytq_param.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :last_date %>
    <%= form.text_field :last_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
