<% provide(:title, "Videos") %>

<div id="grid_here" style="width: 1500px; height: 600px;"></div>
<script type="text/javascript" charset="UTF-8">
  var inputfilter = "";
  var grid = new dhtmlXGridObject("grid_here");
  if (gon) { inputfilter = gon.filter };

  //alert("Filter: " + inputfilter)

  grid.setImagePath("assets/imgs/");
  grid.setHeader("Channel, Date Published, Title, WATCH, Watched, Set Watched, Edit");
  grid.attachHeader("#text_filter,#text_filter,#text_filter, ,#combo_filter,,,");
  grid.setColSorting("str,str,str,,str,,,");
  grid.setInitWidths("200,100,500,100,100,100,100");

  grid.setSkin("dhx_skyblue");
  grid.setColTypes("ro,ro,ro,link,ro,link,link");

  grid.attachEvent("onDataReady", function(){ 
    grid.sortRows(1, "str", "asc");     // Sort by published date
    grid.filterBy(4, "No", true);       // Only show unwatched videos
    var displayValue = grid.getFilterElement(0);
    displayValue.value = inputfilter;
    grid.filterBy(0,inputfilter,true);
   });

  grid.attachEvent("onFilterEnd", function(indexes, values){
      inputfilter = grid.getFilterElement(0).value;
      if (inputfilter != "")
      {
        dhx.ajax.get("/set_filter/" + inputfilter );
      }
      return true;
     });

  grid.init(); 
  grid.load("<%= data_path %>", "json");
  //grid.filterByAll();

 
  <% # if - statement below only to comment out code %>
  <% if false %> 

    grid.attachEvent("onGridReconstructed", function(grid){
    });


   var states=[];
      grid.attachEvent("onFilterStart",function(c,v){
      states=v; //array of filter values
      return true;
      });


     grid.attachEvent("onFilterEnd", function(indexes, values){
      grid.filterBy(4, "No", true);         // Only show unwatched videos
      alert("Filter hardcoded to unwatched only"); 
      return true;
     });

    grid.attachEvent("onFilterStart",function(c,v){     
      return true;
      });
    

  <% end %>


  
</script>

<% # if - statement below only to comment out code %>
<% if false %>

<table>
  <thead>
    <tr>
      <th>Channel</th>
      <th>Date Published</th>
      <th>Title</th>
      <th>Url</th>
      <th>Watched</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.channel %></td>
        <td><%= video.published %></td>
        <td><%= video.title %></td>
        <td><%= link_to("WATCH", video.url, target: :_blank) %>
        <td><%= video.watched %></td>
        <td><%= link_to 'Show', video %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'watched', video, method: :set_watched %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<% end %>
<br>

