<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> |YoutubeQueue</title>
    <%= include_gon %>
    <%= csp_meta_tag %>
    <%= csrf_meta_tags %>
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
   <%= stylesheet_link_tag "dhtmlxgrid", :media => "all" %>
   <%= stylesheet_link_tag "skins/dhtmlxgrid_dhx_skyblue", :media=> "all" %>
   <%= javascript_include_tag "dhtmlxcommon" %>
   <%= javascript_include_tag "dhtmlxgrid" %>
  <%#  <%= javascript_include_tag "dhtmlxgridcell" %> 
   <%= javascript_include_tag "dhtmlxdataprocessor" %>
   <%= javascript_include_tag "ext/dhtmlxgrid_filter" %>
  </head>

  <body>
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
     <header class="navbar navbar-fixed-top navbar-inverse">
     <H1><%= yield(:title) %> |YoutubeQueue</H1>
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Home', videos_path %></li>
            <li><%= link_to 'Load latest videos', pull_path %></li>
            <li><%= link_to 'Check/set last date', ytq_params_path %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
